	<input type="hidden" id="tweet_id" name="id">

    <div class="form-group">
        <div>
          <label for="name" class="col-lg-12" style="text-align: left">Name</label>
          <div class="col-lg-8">
              <input type="text" class="input-sm form-control validate[required]" name="name" id="tweet_name" placeholder="Name" required>
          </div>
        </div>
        
        <div id="tweet_tweetset_id_title">
          <label for="name" class="col-lg-12" style="text-align: left">TweetSet</label>
          <div class="col-lg-8">
            <select class="form-control" name="tweetset_id" id="tweet_tweetset_id" required>
              {% for tweetset in tweetsets %}
                <option value = {{tweetset.id}}>{{tweetset.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div id="tweet_media_title">
          <label for="name" class="col-lg-12" style="text-align: left">Media</label>
          <div class="col-lg-8" id = "tweet_medias">
            {% if medias is empty %}
              There is no media available
            {% endif %}
            <div class="checkbox">
              {% for media in medias %}
                <label>
                  <input type="checkbox" name="media" id="tweet_media_{{media.id}}" value="{{media.id}}"> {{media.name}}  <br>
                </label>
              {% endfor %}
            </div>
          </div>
        </div>

        <div>
          <label for="name" class="col-lg-12" style="text-align: left">Tweet Text</label>
          <div class="col-lg-8">
              <textarea type="text" rows = "4" class="input-sm form-control validate[required]" name="text" id="tweet_text" placeholder="Write your tweet here" required></textarea>
          </div>
        </div>
    </div>